<div class="row p-4 mar-no bg-rad">
    <app-status-indicator [status]="statusIndicator"></app-status-indicator>
    
    <div class="col-md-12" *ngIf="statusIndicator.isCompleted()">
        <a [routerLink]="['/']">
            <button class="back-to-article-2">
                <i class="fas fa-angle-double-left"></i>
            </button>
        </a>
        <div class="test-inner-title">
            <h3 class="mrb-unset col-title title-color">{{ package.paragraphName}}</h3>
            <p class="icon-color mrb-unset  test-num-inner test-num">
                <span>{{ currentTestIndex + 1 }}</span> / {{ totalTestCount }}
            </p>
        </div>
        <div class="mt-4 question">
            <div class="question-box {{ isModified ? 'question-box-true' : '' }}" 
                 *ngFor="let isModified of modifiedTests">
            </div>
        </div>
        <div *ngIf="package?.tests">
            <!-- INDIVIDUAL TEST -->
            <div class="question-title">
                <p class="mrb-unset icon-color mt-3">
                    {{ package.tests[currentTestIndex].question }}
                </p>
            </div>

            <!-- CHOICES -->
            <div class="col-md-10 m-auto answers" *ngIf="package.tests[currentTestIndex].testType == 'MultipleChoice'">
                <app-test-answer *ngFor="let choice of package.tests[currentTestIndex].testChoices"
                    [choice]="choice"
                    [clicked]="selectedChoiceId == choice.id"
                    (onClick)="choiceClicked($event)"
                    (onModified)="answerModified($event)"
                    (onSubmitted)="answerSubmitted($event)"
                    (onClear)="answerCleared($event)"></app-test-answer>
            </div>

            <!-- OPEN ENDED -->
            <div class="col-md-10 m-auto answers" *ngIf="package.tests[currentTestIndex].testType == 'Open'">
                <app-test-open-ended></app-test-open-ended>
            </div>
        </div>

        <!-- CONTROL BUTTONS -->
        <div class="col-md-10 m-auto">
            <div class="test-buttons">
                <button class="test-prev-button" (click)="onPreviousClick()">Geri</button>
                
                <button class="test-next-button" *ngIf="!isCurrentTheLast()"
                (click)="onNextClick()">Irəli</button>

                <button class="test-next-button danger-button" *ngIf="isCurrentTheLast()"
                        (click)="finishTestClick()">TESTİ BİTİR</button>
            </div>
        </div>
    </div>
</div>