<div class="status-card">
    <div class="row">
        <div class="col-md-8">
            <div class="status-left">
                <h3 class="status-title">
                    Xoş gəlmisiniz!
                </h3>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="status-sub-title">
                        Hesabınızı tamamlamaq üçün "Keçid et" tıqlayın
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="status-left">
                <button class="status-button">
                    Keçid et
                    <i class="fas fa-angle-double-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>