<div class="row mar-no" id="left-pane">
    <div class="col-md-6 login-left">
        <div class="login-logo">
            LOGO
        </div>
        <div class="login-bg1 slider1 text-center">
            <div class="">
                <img src="../../../../assets/img/login-bg1.svg" alt="">
                <h3>Lorem ipsum dola</h3>
                <p class="mrb-unset">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel et quis arcu quis
                    turpis lectus donec.</p>
            </div>
            <!-- <div class="">
                <img src="../../../../assets/img/login-bg1.svg" alt="">
                <h3>Lorem ipsum dosla</h3>
                <p class="mrb-unset">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel et quis arcu quis
                    turpis lectus donec.</p>
            </div>
            <div class="">
                <img src="../../../../assets/img/login-bg1.svg" alt="">
                <h3>Lorem ipsum daasola</h3>
                <p class="mrb-unset">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel et quis arcu quis
                    turpis lectus donec.</p>
            </div> -->
        </div>
    </div>
    <div class="col-md-6 login-right">
        <router-outlet></router-outlet>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="./assets/js/stick.js"></script>
