<app-page-title titleText="{{ subject.name }} üzrə mövzular" [actionButtons]="actionButtons"></app-page-title>
<div #collapse="ngbCollapse" [ngbCollapse]="isFilterOpen">
    <br>
    <app-testing-filter *ngIf="!this.statusIndicator.isInProgress()" (onSubmit)="submitFilter($event)" [currentSubjectId]="subject.id"></app-testing-filter>
</div>
<app-status-indicator [status]="statusIndicator"></app-status-indicator>

<div class="row" *ngIf="statusIndicator.isCompleted()">
    <div class="col-md-6 aos-init aos-animate" data-aos="fade-up"
        *ngFor="let p of packages">
        <app-test-package [package]="p" [headerColorHex]="subject.color"></app-test-package>
    </div>
</div>