<div class="col-md-6 aos-init aos-animate" data-aos="fade-up">
    <div class="subject-inner">
        <div class="subject-inner-head">
            <div class="d-flex">
                <div class="subject-name-img"></div>
                <p class="mrb-unset sub-name">Tənliklər</p>
            </div>
            <div>
                <p class="test-cost mrb-unset">Pulsuz</p>
            </div>
        </div>
        <div class="subject-inner-body">
            <div class="sub-author">
                <p class="mrb-unset">Müəllif : </p>
                <p class="mrb-unset">Günay Babayeva</p>
            </div>
            <div class="sub-line"></div>
            <div class="sub-date">
                <p class="mrb-unset">Yenilənmə tarixi</p>
                <p class="mrb-unset">11/11/2021</p>
            </div>
        </div>
    </div>
</div>