<div class="subject-inner">
    <div class="subject-inner-head" [routerLink]="['packages', package.id]">
        <div class="d-flex">
            <div class="subject-name-img"></div>
            <p class="mrb-unset sub-name">{{ package.paragraphName }}</p>
        </div>
        <div>
            <p class="test-cost mrb-unset">{{ package.price }} AZN</p>
        </div>
    </div>
    <div class="subject-inner-body">
        <div class="sub-author">
            <p class="mrb-unset">{{ package.description }}</p>
            <p class="mrb-unset"></p>
        </div>
        <div class="sub-line"></div>
        <div class="sub-date">
            <p class="mrb-unset">Müəllif:</p>
            <p class="mrb-unset">{{ package.author.fullName }}</p>
        </div>
    </div>
</div>