.action-button {
    height: 44px;
    width: auto;
    padding: 18px 20px;
    background: var(--secondary-color);
    color: var(--light-text-color);
    border-radius: var(--border-radius);
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.action-button span {
    margin-left: 5px;
}