<app-page-title [titleText]="'Mənim sinfim'"></app-page-title>
<app-status-indicator [status]="status"></app-status-indicator>

<div class="row">
    <div class="col-md-6">
        <div class="group group-height">
            <div class="group-header">
                <p class="mrb-unset">3B</p>
                <img src="./resources/img/official.svg" alt="">
            </div>
            <div class="group-body">
                <div class="group-body-inner">
                    <p>Rolunuz:</p>
                    <P>Ingilis dili</P>
                </div>
                <div class="group-body-footer">
                    <p class="mrb-unset">Yenilenme tarixi:</p>
                    <p class="mrb-unset">11/11/2021</p>
                </div>
            </div>
        </div>
    </div>

    <!-- INPUT OLAN HISSE -->
    <div class="col-md-6">
        <div class="group group-height">
            <div class="group-header">
                <div class="add-class">
                    <input type="text" placeholder="Sinfin nömrəsi">
                    <button>Əlavə et</button>
                </div>
                <img src="./resources/img/official.svg" alt="">
            </div>
            <div class="group-body">
                <div class="group-body-inner">
                    <p>Rolunuz:</p>
                    <P>Ingilis dili</P>
                </div>
                <div class="group-body-footer">
                    <p class="mrb-unset">Yenilenme tarixi:</p>
                    <p class="mrb-unset">11/11/2021</p>
                </div>
            </div>
        </div>
    </div>
    <!-- INPUT OLAN HISSE -->

    <div class="col-md-6">
        <a href="">
            <div class="add-group group-height">
                <p class="mrb-unset">+</p>
            </div>
        </a>
    </div>
</div>