<div class=" top-fixed">
    <div class="col-md-12 my-4 search-box">
        <div class="search-box-inner">
            <div>
                <!-- <img src="../../../assets/img/logoipsum.svg" alt=""> -->
                <h6>Bilgin.Az |</h6>
            </div>
            <app-top-statusbar></app-top-statusbar>
        </div>
        <div class="search-box-inner" style="gap: 15px;">
            <!-- <div class="form-group search-in has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" class="form-control my-form-control" placeholder="Search">
            </div> -->
            <!-- <button class="file-upload">
                <img src="../../../assets/img/file-upload.svg" alt="">
            </button>
            <button class="file-upload">
                <img src="../../../assets/img/not.svg" alt="">
            </button> -->
        </div>
    </div>
</div>