<h3 class="col-title">Fənlər üzrə testlər toplusu</h3>
<div class="row">
    <div class="col-md-4 col-sm-6" data-aos="fade-up">
        <div class="subject sub-1">
            <div style="float: right;">
                <img src="./../../../assets/img/kok.svg" alt="">
            </div>
            <p>Riyaziyyat</p>
        </div>
    </div>
    <div class="col-md-4 col-sm-6" data-aos="fade-up">
        <div class="subject sub-1">
            <div style="float: right;">
                <img src="./../../../assets/img/kok.svg" alt="">
            </div>
            <p>Riyaziyyat</p>
        </div>
    </div>
    <div class="col-md-4 col-sm-6" data-aos="fade-up">
        <div class="subject sub-1">
            <div style="float: right;">
                <img src="./../../../assets/img/kok.svg" alt="">
            </div>
            <p>Riyaziyyat</p>
        </div>
    </div>
    <div class="col-md-4 col-sm-6" data-aos="fade-up">
        <div class="subject sub-1">
            <div style="float: right;">
                <img src="./../../../assets/img/kok.svg" alt="">
            </div>
            <p>Riyaziyyat və Kimya</p>
        </div>
    </div>
    <div class="col-md-4 col-sm-6" data-aos="fade-up">
        <div class="subject sub-1">
            <div style="float: right;">
                <img src="./../../../assets/img/kok.svg" alt="">
            </div>
            <p>Riyaziyyat</p>
        </div>
    </div>

</div>