<div class="subject-inner" [routerLink]="['packages', package.id, 'intro']">
    <div class="subject-inner-head" [ngStyle]="{'background-color': this.headerColorHex ?? '#FF9976'}">
        <div class="d-flex">
            <!-- <div class="subject-name-img"></div> -->
            <p class="mrb-unset package-name">
                > {{ package.paragraphName == '' ? package.subjectName : package.paragraphName }}
            </p>
        </div>
        <div>
            <p class="test-cost mrb-unset" *ngIf="package.price != 0">{{ package.price / 100 }} AZN</p>
            <p class="test-cost mrb-unset" *ngIf="package.price == 0">Pulsuz</p>
        </div>
    </div>
    <div class="subject-inner-body">
        <div class="sub-author">
            <div class="package-detail">
                <p class="mrb-unset">Sinif:</p>
                <p class="mrb-unset">{{ package.gradeName }}</p>
            </div>
            <div class="package-detail">
                <p class="mrb-unset">Mövzu:</p>
                <p class="mrb-unset">{{ package.paragraphName == '' ? "Seçilməyib" : package.paragraphName }}</p>
            </div>
            <div class="package-detail">
                <p class="mrb-unset">Vaxt limiti:</p>
                <p class="mrb-unset">{{ package.timeLimitSeconds == 0 ? 'Limit yoxdur' : (package.timeLimitSeconds / 60).toFixed() + ' dəqiqə' }}</p>
            </div>
        </div>
        <div class="sub-line"></div>
        <div class="sub-date">
            <p class="mrb-unset">Müəllif:</p>
            <p class="mrb-unset">{{ package.author.fullName }}</p>
        </div>
    </div>
</div>