<form class="login-form" (ngSubmit)="onSubmit()">
    <app-status-indicator [status]="statusIndicator"></app-status-indicator>
    <br>
    <h2 class="icon-color login-left-title-1">Xoş gəlmisiniz!</h2>
    <h1 class="login-left-title-2">Hesab yaradın</h1>
    <label for="tel-num">
        <input class="login-form-input" id="tel-num" type="text" placeholder="Möbil nömrənizi daxil edin"
            [(ngModel)]="phoneRequest.phoneNumber" name="phoneNumber"
            [imask]="{mask: '{+994} (\\000) 000 00 00', lazy: false}" [unmask]="true">
    </label>
    <input class="check-in login-form-input" type="checkbox" id="save"
        [(ngModel)]="userAgreed" [checked]="userAgreed" name="user-agrees">
    <label for="save" class="for-check-in" style="color: var(--third-color);"> 
        &nbsp;Qaydalar və şərtlərlə razıyam <i class="fa fa-external-link" style="cursor: pointer;"></i>
    </label>
    <button class="login-button">
        Davam et
    </button>
    <p class="mrb-unset text-center py-3">Sizin hesabınız var? 
        <a [routerLink]="['/auth', 'login']">Daxil olun</a>
    </p>
</form>