.package-name {
    font-size: 1.1rem;
}

.package-detail {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.subject-inner {
    border-radius: var(--border-radius);
    margin: 20px 0;
    box-shadow: 0px 1.22px 3.76px rgba(82, 82, 82, 0.029), 0px 3.38px 10.39px rgba(82, 82, 82, 0.03), 0px 8.14px 25.02px rgba(82, 82, 82, 0.0391), 0px 27px 83px rgba(82, 82, 82, 0.06);
    top: 0;
    position: relative;
    transition: top ease 0.35s;
}

.subject-inner:hover {
    cursor: pointer;
    top: -7px;
}

.subject-inner-head {
    background-color: rgb(255, 136, 0);
    padding: 15px 15px;
    /* background-image: url('../img/sub-bg-1.svg'); */
    background-position: top right;
    background-repeat: no-repeat;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subject-inner-head p {
    color: #fff;
    font-weight: 600;
}

.subject-name-img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 0 10px 0 0;
}

.sub-author {
    /* display: flex; */
    align-items: center;
    gap: 5px;
}

.sub-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub-date p {
    color: #888888;
    font-weight: 400;
}

.sub-author p {
    color: #616168;
    font-weight: 500;
}

.subject-inner-body {
    background: #fff;
    padding: 10px 15px;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.sub-line {
    width: 100%;
    margin: auto;
    background: #DBDBDB;
    height: 1px;
    margin: 10px 0;
}
