<app-page-title [titleText]="'Sinif: ' + classDetails.name + getSchoolName()"
    [actionButtons]="actionButtons" [level]="2"></app-page-title>

<div class="student-list">
    <div class="list-header">
        <button class="tab-btn {{getActiveClass(PageTab.Students)}}" (click)="setCurrentTab(PageTab.Students)">
            Şagirdlər</button>
        <button class="tab-btn {{getActiveClass(PageTab.Teachers)}}" (click)="setCurrentTab(PageTab.Teachers)">
            Müəllimlər</button>
        <button class="tab-btn {{getActiveClass(PageTab.Assignments)}}" (click)="setCurrentTab(PageTab.Assignments)">
            Tapşırıqlar</button>
    </div>
    <div class="table-responsive">
        <app-status-indicator [status]="status"></app-status-indicator>
        
        <!-- STUDENT LIST TABLE -->
        <table class="table list-table" *ngIf="currentTab == PageTab.Students">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ad Soyad</th>
                    <th scope="col">Tapşırıqlar</th>
                    <th scope="col">Əməliyyatlar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let st of classDetails.students">
                    <th scope="row">{{classDetails.students.indexOf(st) + 1}} </th>
                    <td>{{ st.fullName }}</td>
                    <td *ngIf="st.completedCount == st.totalAssignmentCount && st.totalAssignmentCount != 0">
                        Bitirib (cəmi: {{ st.totalAssignmentCount }})
                    </td>
                    <td *ngIf="st.totalAssignmentCount == 0">
                        Tapşırığı yoxdur
                    </td>
                    <td *ngIf="st.completedCount != st.totalAssignmentCount">
                        {{ st.completedCount }} hazır (cəmi: {{ st.totalAssignmentCount }})
                    </td>

                    <td>
                        <button class="delete-student" (click)="removeStudent(st.infoId)">
                            <i class="far fa-times-circle"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- TEACHER LIST TABLE -->
        <table class="table list-table" *ngIf="currentTab == PageTab.Teachers">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ad Soyad</th>
                    <th scope="col">Telefon</th>
                    <th scope="col">Fənn</th>
                    <th></th>
                    <!-- <th scope="col">Əməliyyatlar</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tc of classDetails.teachers">
                    <th scope="row">{{classDetails.teachers.indexOf(tc) + 1}} </th>
                    <td>{{ tc.fullName }}</td>
                    <td>{{ tc.phoneNumber }}</td>
                    <td>{{ 'Sinif rəhbəri' }}</td>
                    <td></td>
                    <!-- <td>
                        <button class="delete-student" (click)="removeTeacher(tc.infoId)">
                            <i class="far fa-times-circle"></i>
                        </button>
                    </td> -->
                </tr>
            </tbody>
        </table>

        <!-- ASSIGNMENT LIST TABLE -->
        <table class="table list-table" *ngIf="currentTab == PageTab.Assignments">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tapşırıq növü</th>
                    <th scope="col">Başlama tarixi</th>
                    <th scope="col">Son tarix</th>
                    <!-- <th></th> -->
                    <th scope="col">Əməliyyatlar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ass of classDetails.assignments">
                    <th scope="row">{{classDetails.assignments.indexOf(ass) + 1}} </th>
                    <td>{{ localizeType(ass.type) }}</td>
                    <td>{{ localizeDateTime(ass.assignmentDate) | date:'dd MMM yyyy, hh:mm' }}</td>
                    <td>{{ ass.dueDate == null ? 'Limit yoxdur' : getRemainingTime(ass.dueDate) }}</td>
                    <td>
                        <button class="delete-student" (click)="goToAssignment(ass.type, ass.relatedItemId)">
                            <i class="fa fa-external-link"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #studentModal>
    <app-add-student-modal (onStudentSelected)="studentSelected($event)" [status]="status"></app-add-student-modal>
</ng-template>
