<app-page-title [titleText]="'Sinif: ' + classDetails.name + getSchoolName()"
    [actionButtons]="actionButtons" [level]="2"></app-page-title>

<div class="student-list">
    <!-- <div class="student-list-header">
    </div> -->
    <div class="table-responsive">
        <app-status-indicator [status]="status"></app-status-indicator>
        <table class="table list-table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ad Soyad</th>
                    <th scope="col">Telefon</th>
                    <th scope="col">Əməliyyatlar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let st of classDetails.students">
                    <th scope="row">{{classDetails.students.indexOf(st) + 1}} </th>
                    <td>{{ st.fullName }}</td>
                    <td>{{ st.phoneNumber }}</td>
                    <td>
                        <button class="delete-student" (click)="removeStudent(st.infoId)">
                            <i class="far fa-times-circle"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #studentModal>
    <app-add-student-modal (onStudentSelected)="studentSelected($event)" [status]="status"></app-add-student-modal>
</ng-template>