<div class="student-list">
    <div class="student-list-header">
        <h4>Sinif:3B</h4>
        <button class="add-student">
            <i class="fas fa-user-plus"></i>
        </button>
    </div>
    <div class="table-responsive">
        <table class="table list-table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ad Soyad</th>
                    <!-- <th scope="col">Soyad</th> -->
                    <th scope="col">Telefon</th>
                    <th scope="col">Emeliyyatlar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let st of classDetails.students">
                    <th scope="row">1</th>
                    <td>{{ st.fullName }}</td>
                    <!-- <td>Rehimli</td> -->
                    <td>{{ st.phoneNumber }}</td>
                    <td><button class="delete-student"><i class="far fa-times-circle"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>