.question-title p {
    font-size: 1.2rem;
    font-weight: 600;
    color: #075e2f;
}

#test-package-title {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
}
