<app-page-title [titleText]="'Test tapşırığı' + ':  ' + (currentTestIndex + 1) + '/' + totalTestCount"
    [actionButtons]="actionButtons" [confirm]="true" [sameLevelPage]="'intro'"></app-page-title>
<app-status-indicator [status]="assignmentStatus"></app-status-indicator>
<div class="test-content row p-4 bg-rad mt-3">
    <app-status-indicator [status]="statusIndicator"></app-status-indicator>

    <div class="col-md-12" *ngIf="statusIndicator.isCompleted() && !statusIndicator.persist">
        <div class="question">
            <div class="question-box {{ isModified ? 'question-box-true' : '' }}"
                *ngFor="let isModified of modifiedTests">
            </div>
        </div>
        <div class="test-answers" *ngIf="package?.tests?.length ?? -1 > 0">
            <!-- INDIVIDUAL TEST -->
            <div class="question-title">
                <p class="mrb-unset icon-color mt-3 mb-3">
                    > {{ package.tests[currentTestIndex].question }}
                </p>
            </div>

            <div class="test-image-div">
                <img class="test-image" *ngIf="package.tests[currentTestIndex].imageUrl"
                    src="{{ package.tests[currentTestIndex].imageUrl }}">
            </div>

            <!-- CHOICES -->
            <div class="answers col-md-10 mt-3 ml-auto mr-auto"
                *ngIf="package.tests[currentTestIndex].testType == 'MultipleChoice'">
                <app-test-choices [choices]="package.tests[currentTestIndex].testChoices"
                    [selectedId]="selectedChoiceId" (onModified)="answerModified($event)" 
                    (onSubmitted)="answerSubmitted($event)" (onClear)="answerCleared($event)"></app-test-choices>
            </div>

            <!-- OPEN ENDED -->
            <div class="answers col-md-10 mt-3 ml-auto mr-auto"
                *ngIf="package.tests[currentTestIndex].testType == 'Open'">
                <app-test-open-ended [answerText]="writtenAnswerText" (onModified)="answerModified($event)"
                    (onSubmitted)="answerSubmitted($event)" (onClear)="answerCleared($event)"></app-test-open-ended>
            </div>
        </div>

        <div *ngIf="!(package?.tests?.length ?? -1 > 0)">
            <h3>Təəssüf ki heç bir test tapılmadı</h3>
        </div>

        <!-- CONTROL BUTTONS -->
        <div class="col-md-10 m-auto" *ngIf="package?.tests?.length ?? -1 > 0">
            <div class="test-buttons">
                <button class="test-prev-button" (click)="onPreviousClick()">Geri</button>

                <button class="test-next-button" *ngIf="!isCurrentTheLast()" (click)="onNextClick()">Irəli</button>

                <button class="test-next-button danger-button" *ngIf="isCurrentTheLast() && pageMode != 'assignment'"
                    (click)="finishTestClick()">TESTİ BİTİR</button>
            </div>
        </div>
    </div>
</div>

<ng-template #timeupModal>
<div id="time-up">
    <h2>Vaxt bitdiyinə görə cavablarını təsdiqləməli olduq 😥</h2>
</div>
</ng-template>