.question-title p {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary-color);
}

#test-package-title {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
}

.test-image-div {
    display: flex;
    justify-content: center;
}

.test-image {
    border-radius: 15px;
    max-height: 200px;
}

.test-answers {
    margin-bottom: 15px;
}

.test-content {
    margin: 15px 0 0 0;
}

#time-up {
    padding: 20px;
    margin: 0 auto;
}

#time-up h2 {
    text-align: center;
}