<app-side-navbar></app-side-navbar>
<app-top-bar></app-top-bar>
<div class="main">
    <div class="row">
        <div class="col-md-8 tabcontent">
            <router-outlet></router-outlet>
        </div>
        <div class="col-md-4">
            <div class="right-band">
                <app-stats-brief></app-stats-brief>
            </div>
            <div class="right-band">
                <app-leaderboard-brief></app-leaderboard-brief>
            </div>
        </div>
    </div>
    <br>
    <br>
    <!-- <app-bilgin-footer [footerText]="'&copy; Bilgin.Az 2022'"></app-bilgin-footer> -->
    <br>
</div>
