.app-alert {
    border-radius: 10px;
    margin: 10px 0 10px 0;
}

/* LOADING STYLES */
.loading-alert {
    background: var(--progress-color);
    padding: 12px 20px;
    color: var(--light-text-color);
}

.loading-alert img {
    width: 22px;
    height: 22px;
}

.loading-alert span {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 0.9rem;
    margin-left: 10px;
}

/* COMPLETED STYLES */
.completed-alert {
    background: var(--completed-color);
    padding: 12px 20px;
    color: var(--light-text-color);
}

.completed-alert img {
    width: 22px;
    height: 22px;
}

.completed-alert span {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 0.9rem;
    margin-left: 10px;
}

/* ERROR STYLES */
.error-alert {
    background: var(--error-color);
    padding: 12px 20px;
    color: var(--light-text-color);
}

.error-alert img {
    width: 22px;
    height: 22px;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.error-alert span {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 0.9rem;
    margin-left: 10px;
}
  
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-3px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(3px, 0, 0);
    }
}